@model IEnumerable<MVC_Escuela.Models.ProfesorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Profesores registrados</h1>

<p>
    <a asp-action="Create">Añadir nuevo profesor 🙋🏻‍♂️</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProfesor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoPaterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoMaterno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProfesor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdProfesor }) |
                @Html.ActionLink("Detalles", "Detail", new {  id=item.IdProfesor}) |
                @Html.ActionLink("Borrar", "Delete", new {  id=item.IdProfesor })
            </td>
        </tr>
}
    </tbody>
</table>
